
<div class="container text-center">
  <div class="row align-items-center justify-content-center">
    <div class="col-md-4 mt-5"><h2 class="my-4">Sign up</h2>

      <%= form_with model: @user, url: sign_up_path do |form| %>

        <% if @user.errors.any? %>
          <div class="alert alert-warning" role="alert">
            <ul class="m-0">
              <% @user.errors.full_messages.each do |message| %>
                <li class="text-start"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.email_field :email, class: (@user.errors.full_messages_for(:email).any? ? "form-control mb-3 is-invalid" : "form-control mb-3") %>
        <%= form.text_field :name, class: (@user.errors.full_messages_for(:name).any? ? "form-control mb-3 is-invalid" : "form-control mb-3") %>
        <%= form.password_field :password, class: (@user.errors.full_messages_for(:password).any? ? "form-control mb-3 is-invalid" : "form-control mb-3") %>
        <%= form.password_field :password_confirmation, class: (@user.errors.full_messages_for(:password_confirmation).any? ? "form-control mb-3 is-invalid" : "form-control mb-3") %>

        <div class="d-grid mt-3">
          <%= form.submit "Sign up", class: "btn btn-primary" %>
        </div>
      <% end %>

      <p class="mt-3">or</p>
      <div class="d-grid">
        <button class="btn btn-secondary">Sign In</button>
      </div>
    </div>
  </div>
</div>