<%= render "shared/header" %>

<% unless @posts.present? %>
  <div class="d-flex flex-column align-items-center">
    <div class="mx-auto" style="max-width: 480px" >
      <%= image_tag("blank_canvas_undraw.png", :alt =>  "blank canvas", :class => "img-fluid") %>
    </div>

    <a href="<%= new_post_path %>" class="btn btn-primary"><%= I18n.t "newPost" %></a>
  </div>

<%  end %>

<% if @posts.present? %>
  <div class="container">
    <div class="mt-5 row justify-content-center">
      <div class="col-5">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <%= link_to new_post_path, class: "btn btn-primary my-3" do %>
              <%= I18n.t "newPost" %>
            <% end %>
            <%= link_to posts_file_index_path, class: "btn btn-primary" do %>
              <%= I18n.t "upload_file" %>
            <% end %>
          </div>
          <div>
            <select class="form-select" id="tag-select">
              <option <%= :selected unless @tag_id %>>tag</option>
              <% @tags.each do |tag| %>
                <option value="<%= tag.id %>" <%= :selected if @tag_id == tag.id.to_s %>><%= tag.name %></option>
              <% end %>


            </select>

          </div>
        </div>
        <% @posts.each do |post| %>
          <div class="mb-2 card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-3">

                <a class="text-decoration-none display-6" href="<%= post_path(post, locale: @locale) %>">
                  <%= post.title %>
                </a>

                <div class="d-flex gap-2 align-items-center">
                  <%= render "posts/actions", :post => post %>
                </div>
              </div>


              <div class="d-flex justify-content-between">
                <p><%= post.user.name %></p>
                <time><%= post.created_at %></time>
              </div>
            </div>
          </div>
        <% end %>

        <div>
          <%= paginate @posts, window: 1 %>
        </div>
      </div>

    </div>
  </div>
<% end %>

<script>
    function handler (event) {
        if (event.target.value !== "tag") {
            window.location.href = "/?tag_id=" + event.target.value
        } else {
            window.location.href = "/"
        }
    }

    try {
        tagSelect.addEventListener("change", handler)
    } catch {
        let tagSelect = document.getElementById("tag-select")
        tagSelect.addEventListener("change", handler)
    }
</script>